<!DOCTYPE html>
<html>
<head>
  <title> WFS Employee Spotlight</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="topbar">
	<div id="middle">
		<%= image_tag("wfs-logo-80.png", :class => "wfs-logo-80")  %>
		<p><%= link_to "Employee Spotlight", root_url %></p>
	</div>	
</div>

<%= yield %>

</body>
</html>
